*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    margin: 0px 100px;
}

body{
    background-image: url("./shara\ desert.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.navbar{
    display: flex;
    gap: 60px;
    align-items: center;
}

.navbar-menu{
    display: flex;
    gap: 40px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.section{
    display: flex;
    justify-content: space-around;
    gap: 140px;
    margin-top: 50px;
}

.right-section{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    gap: 30px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: coral;
    border-radius: 20px;
}


@media only screen and (min-width:300px) and (max-width:600px){

    body{

        background-size: cover;
        background-repeat: repeat;
    }

    .main-container{
        margin: 0px 30px;
    }

    .header{
        justify-content: space-around;
    }

    .navbar{
        gap: 0px;
    }

    .navbar-menu{
        flex-direction: column;
        gap: 0px;
    }
    .section{
        gap: 20px;
        flex-direction: column;
        align-items: center;
        
    }
    .left-section{
        width: 70%; 
        display:flex ;
        flex-direction: column;
        align-items: center;
    }
    .right-section{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 300px;
    }
}